{% extends "layout.html" %}
{% block title %}Register | {{ block.super }}{% endblock %}
{% block content %}
    <div class="jumbotron" style="background: #ffffff; padding-left: 10px;">
        <div class="container">
            <div class="row">

                <div class="page-header" style="border: none;">
                    <h1>Deactivated Account</h1>
                    <p>Uh oh it looks like your account is deactivated.</p>
                    <p>To reactivate your account click below.</p>
                    <a href="{% url 'accounts:reactivate' %}">
                        <button type="submit" class="btn btn-success">Reactivate</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}