{% extends "layout.html" %}
{% block title %}Account Settings | {{ block.super }}{% endblock %}
{% load static from staticfiles %}
{% load avatar_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 manage-profile-content">
                <h2 class="text-center">Account Settings</h2>
                <div class="list-group">
                    <div class="list-group-item clearfix">
                        <div class="pull-left">
                            <label>Avatar:</label>
                            {% if request.user|has_avatar %}
                                {% avatar user 36 class="img-circle img-responsive" %}
                            {% else %}
                                <p><img src="{% static 'imgs/user-dark.svg' %}" class="avatar"></p>
                            {% endif %}
                        </div>
                        <a href="{% url 'avatar_change' %}" style="position: absolute; top: 30%; right: 3%;">
                            <button class="btn btn-primary">Edit</button>
                        </a>
                    </div>
                    <div class="list-group-item clearfix">
                        <div class="pull-left">
                            <label>First Name:</label>
                            <p>{{ user.first_name }}</p>
                        </div>
                        <a href="{% url 'accounts:manage_profile_first_name' %}" class="edit-acc-btn">
                            <button class="btn btn-primary">Edit</button>
                        </a>
                    </div>
                    <div class="list-group-item clearfix">
                        <div class="pull-left">
                            <label>Last Name:</label>
                            <p>{{ user.last_name }}</p>
                        </div>
                        <a href="{% url 'accounts:manage_profile_last_name' %}" class="edit-acc-btn">
                            <button class="btn btn-primary">Edit</button>
                        </a>
                    </div>
                    <div class="list-group-item clearfix">
                        <div class="pull-left">
                            <label>Username</label>
                            <p>{{ user.username }}</p>
                        </div>
                        <a href="{% url 'accounts:manage_profile_username' %}" class="edit-acc-btn">
                            <button class="btn btn-primary">Edit</button>
                        </a>
                    </div>
                    <div class="list-group-item clearfix">
                        <div class="pull-left">
                            <label>Email:</label>
                            <p>{{ user.email }}</p>
                        </div>
                        <a href="{% url 'accounts:manage_profile_email' %}" class="edit-acc-btn">
                            <button class="btn btn-primary">Edit</button>
                        </a>
                    </div>
                    <div class="list-group-item clearfix">
                        <div class="pull-left">
                            <label>Password:</label>
                            <p>********</p>
                        </div>
                        <a href="{% url 'accounts:manage_profile_password' %}" class="edit-acc-btn">
                            <button class="btn btn-primary">Edit</button>
                        </a>
                    </div>
                </div>
                <div class="clearfix">
                    <a href="{% url 'accounts:manage' %}" class="pull-left">
                        <button class="btn btn-warning">Done</button>
                    </a>
                    <a href="{% url 'accounts:manage_addresses' %}" class="pull-right">
                        <button type="button" class="btn btn-danger">Deactivate</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}