{% extends "layout.html" %}
{% block title %}Account Settings | {{ block.super }}{% endblock %}
{% block content %}
    <div class="container">
        <h2>Account Settings</h2>
        <div class="row">
            <h3>Change Your Name</h3>
            <p>Will be a form here</p>
        </div>
        <div class="row">
            <h3>Change Your Email Address</h3>
            <p>Will be a form here</p>
        </div>
        <div class="row">
            <h3>Change Your Password</h3>
            <p>Will be a form here</p>
        </div>
        <div class="row">
            <h3>Change Your Avatar? Maybe?!</h3>
            <p>Will be a form here</p>
        </div>
    </div>
{% endblock %}