{% extends "layout.html" %}
{% block title %}Account Settings | {{ block.super }}{% endblock %}
{% block content %}
    <div class="container">
        <h2>Account Settings</h2>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-4">
                    <h3>Change Your Profile</h3>
                    <div class="form-group">
                        {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        {{ form.last_name }}
                    </div>
                    <div class="form-group">
                        {{ form.username }}
                    </div>

                </div>

                <div class="col-md-4">

                    <h3>Change Your Email Address</h3>
                    <div class="form-group">
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        {{ form.email_confirm }}
                    </div>
                </div>
                <div class="col-md-4">

                    <h3>Change Your Password</h3>
                    <div class="form-group">
                        {{ form.old_password }}
                    </div>
                    <div class="form-group">
                        {{ form.password }}
                    </div>
                    <div class="form-group">
                        {{ form.password2 }}
                    </div>


                </div>
                <button type="submit" class="btn btn-primary" style="margin-left: 15px; margin-top: 25px;">Save</button>
            </form>
        </div>
    </div>
{% endblock %}