{% extends "layout.html" %}
{% block title %}Manage Addresses | {{ block.super }}{% endblock %}
{% load static from staticfiles %}
{% block content %}
    <div class="container">
        <h2 class="text-center">Manage Addresses</h2>
        <div class="row">
            <a href="{% url 'accounts:manage_new_address' %}">
                <div class="col-sm-6 col-md-4 address-content center-in-div new-addy"><span
                        class="text-muted">Add New
                Address</span></div>
            </a>

            {% for address in object_list %}
                <div class="col-sm-6 col-md-4 address-content">
                    <h5>{{ address.firstName }} {{ address.lastName }}</h5>
                    <p>{{ address.address }}</p>
                    <p>{{ address.city }}, {{ address.state }} {{ address.country }} </p>
                    <p>{{ address.zip }}</p>
                    <p>Phone number: {{ address.phoneNumber }}</p>
                    <div>
                        <button class="btn btn-link" style="padding-left: 0;"><a
                                href="{% url 'accounts:manage_address' pk=address.customerAddressId %}">Edit</a>
                        </button>
                        <span> | </span>
                        <a href="{% url 'accounts:manage_delete_address' pk=address.customerAddressId %}">
                            <button class="btn btn-link">Delete
                            </button>
                        </a>
                        {% if address.customerAddressId in default %}
                            <span> | </span>
                            <button class="btn default-btn">Default <span
                                    class="glyphicon glyphicon-ok"></span>
                            </button>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}