.pagination > li > a,
.pagination > li > span {
    color: #e39309;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #e39309;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #e39309;
    border-color: #e39309;
}

.star-ratings-rating-stars-container{
    padding-top: 5px;
    margin-right: 15px;
}

.detail-content {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
}

.book-review-container {
    height: 95px;
}

.authors-content h3 {
    color: #e39309;
}

.authors-content ul {
    list-style-image: url("/media/pencil.png");
}

.authors-content li {
    margin-bottom: 15px;
}
.rating-star {
    height: 20px;
    width: 20px;
}

/* override position and transform in 3.3.x */
.carousel-inner .item.left.active {
  transform: translateX(-33%);
}
.carousel-inner .item.right.active {
  transform: translateX(33%);
}

.carousel-inner .item.next {
  transform: translateX(33%)
}
.carousel-inner .item.prev {
  transform: translateX(-33%)
}

.carousel-inner .item.right,
.carousel-inner .item.left {
  transform: translateX(0);
}


.carousel-control.left,.carousel-control.right {background-image:none;}
/* End carousel */

