{% extends "layout.html" %}
{% block title %}Account Settings | {{ block.super }}{% endblock %}
{% load static from staticfiles %}
{% load avatar_tags %}

{% block content %}

    <div class="container">

        <div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

            <div class="col-sm-6 col-sm-offset-3">
                <h2> {{ result }} Detail </h2></br>

                <div class="thumbnail">

                    {% if result.image %}
                        <div class="col-sm-3 ">
                            <img src="{{ result.image.url }}" class="img-responsive"/>
                        </div>
                    {% endif %}

                    <h4></br>
                        <strong>Price:</strong> ${{ result.price }}<br/>
                        <strong>Title:</strong> {{ result.title }}<br/>
                        <strong>Author:</strong><a href="/book/author/2">  {{ result.author }} </a><br/>
                        <strong>Genre:</strong> {{ result.genre }}<br/>
                        <strong>Publication Date:</strong> {{ result.publication_date }}<br/>
                        <strong>Publisher:</strong> {{ result.publisher }}<br/><br/>
                        <strong>Description:</strong> {{ result.description }}
                     </h4>

                </div>

                <div>
                    <a href="/cart/add/{{ result.id }}" class="btn btn-orange" action="button"
                       style="width: 30%;">Add To Cart</a>
                    <a href="/book/" action="button" class="btn btn-orange"
                       style="width: 30%;">Continue Shopping</a>
                    <a href="/book/{{ result.id }}/review" class="btn btn-orange" action="button"
                       style="width: 30%;">Drop a Comment!</a>
                </div><br><br>

                <div class="panel panel-warning">
                    <div class="panel-heading">Comments and Reviews for {{ result.title }}</div>
                    <div class="panel-body">

                        {% for comment in pages %}
                            {# remove the comment tags below for the 'if' block #}
                            {# if you want the admin to approve of comments #}

                            {#% if comment.approved or user.is_authenticated %#}
                                <div class="panel panel-warning">

                                    <div class="panel-heading">
                                        <h4>{{ comment.author }}'s Comment</h4>
                                    </div>

                                    <div class="panel body">

                                        <h5> {{ comment.text }}</h5><br/>
                                        <div class="date">
                                            <h6><strong>Posted on:</strong> {{ comment.date }}</h6>
                                        </div>
                                        <!--div> {# remove the HTML comment to activate comment approval by user #}
                                            {#% if not comment.approved %#}
                                                <a class="btn btn-default" href="/book/remove_comment/{{ comment.pk }}/">
                                                    <span class="glyphicon glyphicon-remove"></span></a>
                                                <a class="btn btn-default" href="/book/approve_comment/{{ comment.pk }}/">
                                                    <span class="glyphicon glyphicon-ok"></span></a>
                                            {#% endif %#}
                                        </div-->
                                    </div>

                                </div>
                                <br>

                            {#% endif %#}

                            {% empty %}
                                <p>No comments on this book yet :(</p>
                        {% endfor %}

                        <div class="col-md-12" style="text-align: center">{# block for pagination #}

                            <div class="col-md-12">

                                <ul class="pagination">

                                    {% if pages.has_previous %}
                                        <li><a href="?{{ page_req_var }}={{ pages.previous_page_number }}">
                                            &laquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}

                                    {% for i in pages.paginator.page_range %}
                                          {% if pages.number == i %}
                                            <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
                                          {% else %}
                                            <li><a href="?{{ page_req_var }}={{ i }}">{{ i }}</a></li>
                                          {% endif %}
                                    {% endfor %}

                                    {% if pages.has_next %}
                                        <li><a href="?{{ page_req_var }}={{ pages.next_page_number }}">
                                        &raquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}

                                </ul>
                            </div>

                                 <div class="col-md-12" style="text-align: center">
                                    <form action="/book/{{ result.id }}/" method="post">
                                        {% csrf_token %}
                                          <select class="btn btn-default" name="drop">
                                            <option  selected="selected" disabled>Comments on page:</option>
                                            <option value="2">2</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                          </select>
                                          <input type="submit" value="Show" class="btn btn-primary">
                                    </form>

                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
