{% extends "layout.html" %}
{% block title %}Book Detail | {{ block.super }}{% endblock %}
{% load static from staticfiles %}
{% load avatar_tags %}

{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <h2> {{ author }} Books</h2>
        <h4><strong>Email Address:</strong> {{ author.email}}</h4>
        <br/><br/>

        {% for book in books %}
         <div class="col-md-8">
                    <div class="thumbnail">
                        <div class="caption" text-align="center">
                            <h3><a href="{{ book.get_absolute_url }}">{{ book.title }}</a><br/></h3>
                            <p>
                            {% if book.image %}
                                <div class="col-md-3">
                                <img src="{{ book.image.url }}" class="img-responsive"/>
                                </div>
                            {% endif %}

                            <strong>Author:</strong><a href="{{ author.get_absolute_url }}">  {{ book.author }} </a><br/>
                            <strong>Publisher:</strong> {{ book.publisher }}<br/>
                            <strong>Publication Date:</strong> {{ book.publication_date }}<br/>
                            <strong>Genre:</strong> <a href="" ></a>{{ book.genre }}<br/>
                            <strong>Description:</strong> {{ book.description }}<br/>
                            </p>

                        </div>
                        <div><p><a href="{{ book.get_absolute_url }}" class="btn btn-orange"
                                  role="button" style="width: 30%;" >View</a></p>
                        </div><hr/>
                    </div>

         </div>


        {% endfor %}


    </div>
{% endblock %}