{% extends "layout.html" %}
{% block title %}Book Results | {{ block.super }}{% endblock %}
{% load static from staticfiles %}
{% load avatar_tags %}

{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <h2> {{ title }} </h2>

        {% for res in results %}

            <div class="col-md-8">
                <div class="thumbnail">
                    <div class="caption" text-align="center">
                        <h3><a href="{{ res.get_absolute_url }}">{{ res.title }}</a><br/></h3>
                        <p>
                        {% if res.image %}
                            <div class="col-md-3">
                            <img src="{{ res.image.url }}" class="img-responsive"/>
                            </div>
                        {% endif %}

                        <strong>Author:</strong><a href="/book/author/2">  {{ res.author }} </a><br/>
                        <strong>Publisher:</strong> {{ res.publisher }}<br/>
                        <strong>Publication Date:</strong> {{ res.publication_date }}<br/>
                        <strong>Genre:</strong> <a href="" ></a>{{ res.genre }}<br/>
                        <strong>Description:</strong> {{ res.description }}<br/>
                        </p>

                    </div>
                    <div><p><a href="{{ res.get_absolute_url }}" class="btn btn-orange"
                              role="button" style="width: 30%;" >View</a></p>
                    </div><hr/>
                </div>

            </div>


        {% endfor %}

    </div>

    <div class="container">
        <ul class="pagination">
            <li>{% if results.has_previous %}
                <a href="?{{ page_req_var }}={{ results.previous_page_number }}">&laquo; Previous</a>
            {% endif %}</li>
            <li><span class="current">
                Page {{ results.number }} of {{ results.paginator.num_pages }}.
            </span></li>
            <li>{% if results.has_next %}
                <a href="?{{ page_req_var }}={{ results.next_page_number }}">Next &raquo;</a>
            {% endif %}</li>
        </ul>
    </div>



{% endblock %}
