{% extends "layout.html" %}
{% block title %}Book Detail | {{ block.super }}{% endblock %}
{% load static from staticfiles %}
{% load avatar_tags %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        <h2> {{ author }} Details</h2></br>

        <h4></br>

         <strong>Author Name:</strong> {{ author.full_name }}<br/>
         <strong>Email Address:</strong> {{ author.email}}<br/>
         <strong>Books:</strong> {{ books }}<br/>

         </h4>


    </div>
{% endblock %}