{% extends "layout.html" %}
{% block title %}{{ book.title }} | {{ block.super }}{% endblock %}
{% load static from staticfiles %}
{% load avatar_tags %}
{% load ratings %}

{% block content %}
    <div class="container">
        <div class="row detail-content">
            <div class="col-sm-4 col-md-3">{% if book.image %}
                <img src="{{ book.image.url }}" style="height: 250px; width: 200px;">
            {% else %}
                <img src="/media/coming-soon.jpg" style="height: 250px; width: 200px;">
            {% endif %}</div>
            <div class="col-sm-5 col-md-6" style="padding: 0 15px 150px 0; border-right: 1px solid #cccccc;">
                <h2>{{ book.title }}</h2>
                <p style="min-height: 25px;">by {% for author in book.author %}
                    {% if forloop.last %}<a href="/books/?q={{ author }}">{{ author }}
                    </a>{% else %}<a href="/books/?q={{ author }}">{{ author }}</a>,
                    {% endif %}
                {% endfor %}
                </p>
                {% if book.pages > 0 and book.sales_rank > 0 %}
                    {% include 'book_rating.html' %}
                    <a href="#book-reviews"><p class="detail-content" style="padding-bottom: 20px;">
                        {% if book.rating_avg %}{{ book.rating_count }} review{{ book.rating_count|pluralize }}
                        {% else %}Be the first to write a review{% endif %}</p>
                    </a>
                {% else %}
                    <p style="color: red">Coming Soon</p>
                {% endif %}
                <p style="margin-top: 20px;">{{ book.description|linebreaksbr|truncatewords:50 }}</p>
                <a href="#full-desc">More details below</a>
            </div>
            <div class="col-sm-3">
                <h3 class="detail-content" style="padding-bottom: 25px;">Paperback</h3>
                <h3>${{ book.price }}</h3>
                {% if book.pages > 0 and book.sales_rank > 0 %}
                    <a href="{% url 'add_cart' id=book.pk %}">
                        <button class="btn btn-success">Add To Cart</button>
                    </a>
                {% endif %}
            </div>
        </div>
        {% if author_books.count > 2 %}
            <div class="row detail-content">
                <h3>Other Books by This Author</h3>
                {% if author_books.count > 6 %}
                    {% for books in author_books|slice:"6" %}
                        <div class="col-xs-4 text-center" style="padding-top: 20px;">
                            <a href="{% url 'books:book_detail' pk=books.id %}">
                                <img src="{{ books.image.url }}" style="width:100px; height:150px; ">
                                <h5 class="text-muted">{{ books.title }}</h5>
                                {% include 'book_rating.html' %}
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for books in author_books|slice:"3" %}
                        <div class="col-xs-4 text-center" style="padding-top: 20px;">
                            <a href="{% url 'books:book_detail' pk=books.id %}">
                                <img src="{{ books.image.url }}" style="width:100px; height:150px; ">
                                <h5 class="text-muted">{{ books.title }}</h5>
                                {% include 'book_rating.html' %}
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
        <div id="full-desc" class="row detail-content">
            <div class="col-xs-6" style="padding-left: 0;">
                <h3>Full Description</h3>
                <p>{{ book.description|linebreaksbr }}</p>
            </div>
        </div>
        <div id="prod-details" class="row detail-content">
            <h3>Product Details</h3>
            {# <p><strong>ISBN-13:</strong></p> #}
            <p><strong>Genre:</strong> <a
                    href="/books/?q={{ book.genre|capfirst }}&sort=-tech_valley_best&order=-avg_rating">{{ book.genre|capfirst }}</a>
            </p>
            <p><strong>Publisher:</strong> {{ book.publisher }}</p>
            <p><strong>Publication Date:</strong> {{ book.publication_date }}</p>
            <p><strong>Pages:</strong> {% if book.pages == 0 %}TBA{% else %}{{ book.pages }}{% endif %}</p>
            <p><strong>Sales Rank:</strong> {{ book.sales_rank }}</p>
        </div>
        <div id="author-bio" class="row detail-content">
            <h3>About the Author</h3>
            <div class="media">
                <div class="media-left media-top">
                    <img src="{{ book.author.first.image.url }}" class="media-object"
                         style="width: 300px; margin-right: 15px;">
                </div>
                <div class="media-body">
                    <p>{{ book.authors.first.description|linebreaksbr }}</p>
                    <h4 style="margin-top: 35px;">Brief Biography</h4>
                    <h5 style="margin-bottom: 5px;">Birthplace:</h5>
                    <p>{{ book.authors.first.birthplace }}</p>
                    <h5 style="margin-bottom: 5px;">Date of Birth:</h5>
                    <p>{{ book.authors.first.dob }}</p>
                    <h5 style="margin-bottom: 5px;">Education:</h5>
                    <p>{{ book.authors.first.education }}</p>
                    <h5 style="margin-bottom: 5px;">Email:</h5>
                    <p>{{ book.authors.first.email }}</p>
                    <h5 style="margin-bottom: 5px;">Website:</h5>
                    <a href="{{ book.authors.first.website }}">{{ book.authors.first.website }}</a>
                </div>
            </div>
        </div>
        {% if book.pages > 0 and book.sales_rank > 0 %}
            <div id="book-reviews" class="row detail-content">
                <h3 style="margin-bottom: 35px;">Customer Reviews</h3>
                <div class="col-xs-4 text-center book-review-container" style="border-right: 1px solid #cccccc;">
                    <h4>Average Review: {% if book.rating_avg %}{{ book.rating_avg }}{% else %}N/A{% endif %}</h4>
                    {% include 'book_rating.html' %}
                </div>
                <div class="col-xs-4 center-in-div book-review-container" style="border-right: 1px solid #cccccc;">
                    <button class="btn btn-warning">Write a Review</button>
                </div>
                <div class="col-xs-4 center-in-div book-review-container">
                    {% if book.rating_avg %}
                        <h4>{{ book.rating_count }} review{{ book.rating_count|pluralize }}</h4>{% else %}
                        <h4>Be the first to write a review</h4>{% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
