.manage-profile-content {
    margin-bottom: 25px;
}

.manage-account-links,
.address-content {
    padding: 40px;
}

.manage-payment-btn {
    float: right;
}

.btn-orange-small {
    background-color: #e39309;
    color: #ffffff;
    border-color: #cc8408;
}

.btn-orange-small:hover,
.btn-orange-small:focus {
    background-color: #cc8408;
    color: #ffffff;
    border-color: #a56b06;
}

.list-inline {
    margin: 0;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .manage-account-links {
        padding: 75px;
    }
}

@media (max-width: 767px) {
    .address-content {
        text-align: center;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}