.manage-profile-content {
    margin-bottom: 55px;
}

.edit-acc-btn {
    position: absolute;
    top: 25%;
    right: 3%;

}

.address-content {
    height: 305px;
}

.manage-account-links,
.address-content {
    padding: 40px;
}

.new-addy span {
    text-align: center;
    font-size: 16px;
}

.new-addy span:hover,
.new-addy span:focus {
    color: dimgrey;
}

.default-btn,
.default-btn:hover,
.default-btn:focus {
    color: #5cb85c;
    background: none;
    cursor: default;
}

.default-btn:active {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.modal-sm {
    margin-top: 100px;
}

.list-inline {
    margin: 0;
}

.credit-card-div span {
    padding-top: 10px;
}

.credit-card-div img {
    padding-top: 30px;
}

.credit-card-div .small-font {
    font-size: 9px;
}

.credit-card-div .pad-adjust {
    padding-top: 10px;
}

.panel-offset {
    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

.progress {
    display: none;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}

.upload-drop-zone .drop {
    color: #222;
    border-color: #222;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0;

}

.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.image-preview-input-title {
    margin-left: 2px;
    color: #ffffff;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .manage-account-links {
        padding: 75px;
    }
}

@media (max-width: 767px) {
    .address-content {
        text-align: center;
    }
}

@media (min-width: 992px) {
    .manage-profile-content {
        margin-bottom: 0;
    }

}

@media (min-width: 1200px) {
}