{% extends "layout.html" %}
{% block title %}Change Avatar | {{ block.super }}{% endblock %}
{% load static from staticfiles %}
{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 form-border">
                {% if upload_avatar_form.errors %}
                    {% for field in upload_avatar_form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in upload_avatar_form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <h2 class="text-center">Change avatar</h2>
                <form id='avatar-form' enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="/accounts/manage/profile/"/>
                    <div class="form-group">
                        <div class="panel panel-default panel-offset">
                            <div class="panel-body">
                                <!-- Progress Bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span
                                            class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                                <br/>
                                <br/>
                                <div class="input-group image-preview">
                                    <input type="text" class="form-control image-preview-filename" disabled="disabled"/>
                                    <!-- don't give a name === doesn't send on POST/GET -->
                                    <span class="input-group-btn">
						<!-- image-preview-clear button -->
						                <button type="button" class="btn btn-primary image-preview-clear"
                                                style="display:none;">
                                            <span class="glyphicon glyphicon-remove"></span> Clear
                                        </button>
                                        <!-- image-preview-input -->
						                <div class="btn btn-primary image-preview-input">
                                            <span class="glyphicon glyphicon-folder-open"></span>
                                            <span class="image-preview-input-title">Browse</span>
                                            {{ upload_avatar_form.avatar }}
                                            <!-- rename it -->
                                        </div>
                                        <button type="submit" class="btn btn-labeled btn-warning">
                                            <span class="btn-label"><i class="glyphicon glyphicon-upload"></i></span>
                                            Upload
                                        </button>
						            </span>
                                </div>
                                <!-- /input-group image-preview [TO HERE]-->
                                <br/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}

{% block jquery %}
    <script type="text/javascript">

        var upload = document.getElementById('id_avatar');
        var $preview = $('.image-preview-filename');
        upload.addEventListener('change', function () {

            $preview.prop("disabled", false);
            $preview.val(upload.files.item(0).name);

        });
    </script>
{% endblock %}