{% extends "layout.html" %}
{% block title %}Book Results | {{ block.super }}{% endblock %}
{% load static from staticfiles %}
{% load book_extras %}

{% block content %}

    <div class="container-fluid">
        {% if messages %}
            <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                {% for message in messages %}
                    <p{% if message.tags == "success" %}
                        class="alert alert-success text-center"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        </div>


        <div class="container"><br>
            <div class="col-sm-6 col-sm-offset-3">
                <div class="row">


                    {% if book.image %}
                        <div class="col-sm-4 ">
                            <img src="{{ book.image.url }}" class="img-responsive"/>
                        </div>
                    {% endif %}

                    <div class="col-sm-8">
                        <p><strong>Price:</strong> ${{ book.price }}</p><br/>
                        <p><strong>Title:</strong> {{ book.title }}</p><br/>
                        <p><strong>Author:</strong> {% for author in book.author %}
                            {% if forloop.last %}<a href="/books/?q={{ author }}">{{ author }}
                            </a>{% else %}<a href="/books/?q={{ author }}">{{ author }}</a>,
                            {% endif %}
                        {% endfor %}</p><br/>
                        <p><strong>Genre:</strong> {{ book.genre|capfirst }}</p><br/>
                        <p><strong>Publication Date:</strong> {{ book.publication_date|convert_to_date|date:"m/d/Y" }}
                        </p><br/>
                        <p><strong>Publisher:</strong> {{ book.publisher }}</p><br/><br/>

                    </div>

                </div>
                <div class="row clearfix">
                    <a href="{% url 'books:book_list' %}">
                        <button class="btn btn-warning">Continue
                            Shopping
                        </button>
                    </a>

                    <a href="{% url 'view_cart' %}">
                        <button class="btn btn-success pull-right">Proceed to
                            Checkout
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}