{% extends "layout.html" %}
{% block title %}Shopping Cart | {{ block.super }}{% endblock %}
{% load cart_tags %}  <!-- This is loaded in order to access the functions in this template>  <-->

{% block content %}

    <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-warning">

                <div class="panel-heading text-center">
                    <strong>{% if user.is_authenticated %} {{ user }}'s {% else %}Your {% endif %}Shopping Cart</strong>
                </div>

                <!--div class="panel-body">
                    < add stuff to the body if you want to>
                </div-->

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Remove Book</th>
                    </tr>
                    </thead>
                    <tbody>

                        {% for book in cart %}
                            <tr>
                                <td><a href="{% url 'books:book_detail' pk=book.pk %}">{{ book.title }}</a></td>
                                <td>
                                    <form method="POST" action="{% url 'change_quantity' %}">
                                        <div class="form-group">
                                            {% csrf_token %}
                                            <label><input type="text" class="form-control" id="quantity"
                                                          name="quantity"
                                                          placeholder="{{ request.session|update_quantity:book.id }}"></label>
                                            <input type="hidden" name="book_id" value="{{ book.id }}">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    </form>
                                </td>
                                <td>${{ book.price }}</td>
                                <td>{% if book.title in request.session %}
                                    $ {{ request.session|get_subtotal:book.title }}
                                {% endif %}</td>
                                <td><a href="{% url 'remove_from_cart' id=book.id %}">
                                    <button type="button" class="btn btn-warning">Remove</button>
                                </a></td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>

            </div>

        </div>

        <div class="col-md-10 col-md-offset-1" style="text-align: right">
            <h4><strong>Subtotal: ${{ total }}</strong></h4>
        </div>

        <div class="col-md-10 col-md-offset-1">


            <form method="POST" action="{% url 'checkout' %}">
                {% csrf_token %}
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-warning" style="text-align: center">
                        <div class="panel-heading">
                            <strong>Select shipping option..</strong>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="radio">
                                    <label><input type="radio" name="shipng" value="13.99 -N-" {% if option == '-N-' %}
                                                  checked="checked"{% endif %}>
                                        Next Day (1 Business day - $13.99)</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="shipng" value="10.99 -T-" {% if option == '-T-' %}
                                                  checked="checked"{% endif %}>
                                        Two Day (2 Business days - $10.99)</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="shipng" value="4.99 -R-" {% if option == '-R-' %}
                                                  checked="checked"{% endif %}>
                                        Regular (3-5 Business days - $4.99)</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-md-6 col-xs-6 col-md-offset-4 col-xs-offset-2">
                    <a href="{% url 'books:book_list' %}" class="btn btn-warning" action="button"
                       style="width: 4cm;">Continue Shopping</a>
                    {% if comparison %}
                        <input value="Continue Checkout" class="btn btn-success"
                               style="width: 4cm;" type="submit">
                    {% else %}
                        <div class="btn btn-success" style="width: 4cm;">
                            Add items to cart...
                        </div>
                    {% endif %}
                </div>

            </form>

        </div>


    </div>


{% endblock %}