{% extends "layout.html" %}
{% block title %}Shopping Cart | {{ block.super }}{% endblock %}
{% load static from staticfiles %}
{% load avatar_tags %}

{% block content %}

    <div class="container-fluid">

        <div class="panel panel-warning">

            <div class="panel-heading" style="text-align: center">
                <strong>{{ user }}'s Shopping Cart Items</strong>
            </div>

            <!--div class="panel-body">
                < add stuff to the body if you want yo>
            </div-->

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Remove Book</th>
                    </tr>
                </thead>
                <tbody>

                    {% for book in cart %}
                        <tr>
                            <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
                            <td>
                                <div class="form-group">
                                    <select class="form-control" id="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </td>
                            <td>${{ book.price}}</td>
                            <td>${{ book.price}}</td>
                            <td><a href="/cart/remove/{{ book.id }}/"
                                   class="btn btn-warning" action="button">Remove</a></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>

        <div class="col-md-12" style="text-align: right">
            <h4><strong>SubTotal: ${{ total }}</strong></h4>
        </div>

        <div class="col-md-6 col-xs-6 col-md-offset-4 col-xs-offset-2">
            <a href="/book/" class="btn btn-warning" action="button"
                       style="width: 5cm;">Continue Shopping</a>
            <a href="/cart/checkout/" action="button" class="btn btn-success"
                       style="width: 5cm;">Continue Checkout</a>
        </div>

    </div>


{% endblock %}